@import 'https://fonts.googleapis.com/css?family=Abel|Bungee+Hairline|Cinzel|Poiret+One|Quicksand|Raleway';

body {
    font-family: 'Quicksand', sans-serif;
    background-color: white;
}

header {
    background: black;
    width: 100%;
    left: 0;
}
nav {
    max-width: 95%;
    margin: 0 auto;
    padding: 20px 0;
    overflow: hidden;

}

.logo-box {
    float: left;
    margin-left: 10px;
}

.logo {
    margin: 0;
    height: 70px;
    text-align: center; 
}


.a-logo {
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.a-0 {
    color: white;
    text-transform: uppercase;
    font-size: 125%;
    padding: 15px;
}

.a-0:hover { 
    color: grey;
    text-decoration: none;
}

#menuIcon {
    width: 160px;
    height: 80px;
}

.ul-0 {
    margin: 0;
    margin-right: 25px;
    padding-left: 0;
    list-style: none;
    float: right;
    height: 70px;
    text-align: center;
}

.li-0 {
    display: inline-block;
    margin-left: 25px;
    transition: .5s linear;
}

@media screen and (max-width:574px) {
    .logo-box {
        float: none;
        margin: 0 auto;
    }
    .ul-0 {
        float: none;
        margin: 0 25px;
    }
    .li-0:first-of-type {
        margin-left: 0
    }
}

@media screen and (max-width:493px) {
    nav{
        overflow: visible;
    }
    .ul-0{
        height: auto;
        padding-top: 30px;
        line-height: 30px;
    }
    .li-0{
        display: block;
        margin: 0;
    }
}

.textBox{
    height: 350px;
    background-color: black;

}

.textBox p {
    letter-spacing: 4px;
    color: white;
    padding: 80px 40px 0 40px;
    font-size: 320%;
    max-width: 700px;
    line-height: 50px;
    font-weight: 100;
}

.footer {
    padding: 30px 80px 20px 0;
    display: block;
    background: black;
    color: white;
    font-size: 85%;
    text-align: end;
}