.container {
  display: flex;
  flex-wrap: wrap;
  background-color: Red;
}

.container div {
  background-color: White;
  width: 500px;
  margin: 20px;
  padding: 20px;
  text-align: justify;  
  font-size: 30px;
}